@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(54, 55, 57);
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo {
    font-size: 32px;
    color: #F9FAF8;
}

.buttons {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gh-logo {
    width: 35px;
    height: 35px;
}

.footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;
}

/* Buttons */
#resetBtn,
#blackBtn,
#rgbBtn,
#colorPicked {
    width: 10%;
    font-size:16px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(1.2);
}

output {
    font-size: 16px;
    font-weight: 700;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 0;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/* GRID */

.container {
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    width: 700px;
    height: 700px;
}

.grid-item {
    background-color: white;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }

  .border-bottom {
    border-bottom: 1px solid black;
  }

  .border-right {
    border-right: 1px solid black;
  }

/* MEDIA QUERIES */

@media (max-width: 550px) {
    .buttons,
    .container {
        width: 350px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        gap: 15px;
    }
    .container {
        height: 350px;
    }

    #resetBtn,
    #blackBtn,
    #rgbBtn,
    #colorPicked {
        width: 30%;
        font-size: 18px;
        background-color: white;
        box-shadow: 5px 5px;
}
}